<div class="c-image">

<amp-img src="{{image.file.url}}" alt="{{description}}" height="{{image.file.details.image.height}}" width="{{image.file.details.image.width}}"></amp-img>
<p>{{title}}</p>

</div>