<div class="o-wrapper-inline">
<h4>
  {{title}}  
</h4>
  
  
  <a target="_blank" href="{{googleMapsLink}}">
  <amp-img class="c-image c-image--{{view}}" 
         layout="responsive" 
         src="{{googleMapsImageLink}}" 
         alt="{{description}}" 
         height="640" 
         width="640"></amp-img>
  </a>
  
<div class=" u-markdown">
{{{descriptionHTML}}}
</div>
<a target="_blank" href="{{googleMapsLink}}">In Google Maps öffnen</a>


</div>