<amp-sidebar id="sidebar1" layout="nodisplay" side="left">
  <ul>
      <li><a class="c-link c-link--sidemenu"  href="/">Startseite</a></li>
    
    {{#each index.menu}}
        {{#if isPage}}
          <li><a class="c-link c-link--sidemenu" href="{{slug}}">{{title}}</a></li>
        {{/if}}
        {{#if isContainer}}
            <li><div class="c-header2__subtitletext u-space-1 u-space-top-2">{{title}}:</div></li>
        
          {{#each elements}}
            <li><a class="c-link c-link--sidemenu" href="{{slug}}">{{title}}</a></li>
          {{/each}}


        {{/if}}
    {{/each}}
    
    
  </ul>
</amp-sidebar>


<div class="c-header">
  
  <div class="o-wrapper o-wrapper--samepad">
    
    <button class="c-header__hamburger u-show@mob" on='tap:sidebar1.toggle'>
      <svg height="32" width="32" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 10h24a2 2 0 0 0 0-4H4a2 2 0 0 0 0 4zm24 4H4a2 2 0 0 0 0 4h24a2 2 0 0 0 0-4zm0 8H4a2 2 0 0 0 0 4h24a2 2 0 0 0 0-4z"/>
      </svg>
    </button>

    <div class="c-header__title u-h1"><a href="/">{{index.title}}</a></div>

    <div class="u-show@desk">
      
      <div class="c-header__subnav">
          {{#each index.menu}}
              {{#if @first}} 
                {{#each elements}}
                  <a class="c-header_link" href="{{slug}}">{{title}}</a>
                {{/each}}
              {{/if}}
          {{/each}}
      </div>


      <div class="c-header2__links u-space-top-1"> 
          {{#each index.menu}}
            {{#unless @first}} 
              {{#if isPage}}
                <a class="c-header_link" href="{{slug}}">{{title}}</a>
              {{/if}}
              {{#if isContainer}}
              <div class="c-header2__group">
                <div class="c-header2__subtitle">
                  <span class="c-header2__subtitletext">{{title}}:</span>
                </div>

                {{#each elements}}
                  <a class="c-header2_link" href="{{slug}}">{{title}}</a>      
                {{/each}}


              </div>
              {{/if}}
            {{/unless}}
          {{/each}}
      </div>
    </div>


  </div>
</div>
