<amp-sidebar id="sidebar1" layout="nodisplay" side="left">
  <ul>
      <li><a class="c-link c-link--sidemenu"  href="/">Startseite</a></li>
    {{#each index.menu}}
      
      <li><a class="c-link c-link--sidemenu" href="{{slug}}">{{title}}</a></li>      
    {{/each}}
    
    
    
  </ul>
</amp-sidebar>


<div class="c-header">
  
  <div class="o-wrapper o-wrapper--samepad">
    
    <button class="c-header__hamburger u-show@mob" on='tap:sidebar1.toggle'>
      <svg height="32" width="32" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 10h24a2 2 0 0 0 0-4H4a2 2 0 0 0 0 4zm24 4H4a2 2 0 0 0 0 4h24a2 2 0 0 0 0-4zm0 8H4a2 2 0 0 0 0 4h24a2 2 0 0 0 0-4z"/>
      </svg>
    </button>

    <div class="c-header__title u-h1"><a href="/">{{index.title}}</a></div>

    <div class="c-header__links u-show@desk"> 
        {{#each index.menu}}
          <a class="c-header_link" href="{{slug}}">{{title}}</a>      
        {{/each}}
    </div>
    
    
    <div class="u-show@desk">
      <div style="border-bottom: 1px solid white;" class="u-space-vert-2 u-text-s">
        Alternativer Header:
      </div>

      <div class="c-header__title u-h1">
        <a href="/">{{index.title}}</a>
      </div>
      <div class="c-header2__subnav">
        <a class="c-header_link" href="/verein.html">Verein</a>    
        <a class="c-header_link" href="/sportabzeichen.html">Sportabzeichen</a>  
        <a class="c-header_link" href="/aktuelles.html">Aktuelles</a>
      </div>
    
      
      <div class="c-header2__links u-space-top-1 u-stretch"> 
        <div class="c-header2__group">
          <div class="c-header2__subtitle">
            <span class="c-header2__subtitletext">Sportarten:</span>
          </div>

          <a class="c-header2_link" href="/schwimmen.html">Schwimmen</a>      
          <a class="c-header2_link" href="/bogensport.html">Bogensport</a> 
          <a class="c-header2_link" href="/bosseln.html">Bosseln</a> 



        </div>
        <div class="c-header2__group c-header2__group--next">
          <div class="c-header2__subtitle">
            <span class="c-header2__subtitletext">Rehabilitationssport: </span>
          </div>
          <a class="c-header2_link" href="/beispielsport.html">Wassergymnastik</a>      
          <a class="c-header2_link" href="/rehabilitationssport-hallengymnastik.html">Hallengymnastik</a>      

        </div>

      </div>
      
    </div>


  </div>
</div>
