<amp-sidebar id="sidebar1" layout="nodisplay" side="left">
  <ul>
      <li><a href="/">Startseite</a></li>
    {{#each index.menu}}
      
      <li><a href="/article/{{slug}}">{{title}}</a></li>      
    {{/each}}
    
    
    
  </ul>
</amp-sidebar>


<div class="u-h1"><a href="/">{{index.title}}</a></div>

<div class="u-show@desk"> 
    {{#each index.menu}}
      <a href="/article/{{slug}}">{{title}}</a>      
    {{/each}}
</div>


<button class="hamburger u-show@mob" on='tap:sidebar1.toggle'>Menü</button>
<hr>